<%-include("templates/cabecera", {subtitulo: "CoachX - Dashboard" })%>
    <h1>Estamos en la vista ejs de CoachX</h1>
    <h2><%=titulo %></h2>
    <div class="container">
        <a href="/jugador" class="btn btn-primary">Ir a Jugadores</a>
    </div>
</body>
</html>
<%-include("templates/footer")%>