<%- include("templates/cabecera", {subtitulo:'Contacto'}) %>
    <h1><%=titulo %></h1>
    <div style="max-width: 600px; margin: 0 auto; padding: 20px;">
        <form style="text-align: left;">
            <label>Nombre:</label><br>
            <br>
            
            <label>Email:</label><br>
            <br>
            
            <label>Teléfono:</label><br>
            <br>
            
            <label>Mensaje:</label><br>
            <br>
            
            <button>Enviar</button>
        </form>
        
        <div style="margin-top: 30px;">
            <h3>Información de contacto</h3>
            <p><strong>Teléfono:</strong> 789 987 879</p>
            <p><strong>Email:</strong> MejorAutoescuela@autoescuela.com</p>
        </div>
    </div>
<%- include("templates/footer") %>