<%- include("templates/cabecera", {subtitulo:'Inicio - Autoescuela'}) %>
    <h2><%=titulo %></h2>
    <img src="/logo.jpg" alt="Logo Autoescuela" style="max-width: 850px; margin: 20px;">
    <p>Bienvenido a nuestra autoescuela Gala</p>
<%- include("templates/footer") %>