<%- include("templates/cabecera", {subtitulo:'Quiénes Somos'}) %>
    <h1><%=titulo %></h1>
    <div style="max-width: 800px; margin: 0 auto; text-align: left; padding: 20px;">
        <h3>Nuestra Historia</h3>
        <p>Somos una autoescuela con más de 5 años de experiencia en la formación de conductores. Es decir, la mejor y punto.</p>
        
        <h3>Nuestra Misión</h3>
        <p>Formar conductores responsables y seguros mediante una enseñanza de calidad, además de ganar mucho dinero.</p>
        
        <h3>Nuestros Valores</h3>
        <ul>
            <li>Seguridad</li>
            <li>Profesionalidad</li>
            <li>Compromiso</li>
            <li>Dinero</li>
        </ul>
    </div>
<%- include("templates/footer") %>